# Node.js dependencies
node_modules/

# Logs 
logs/
*.log

# Environment files
.env

# IDE settings
.vscode/

# Images folder 
images/*
!images/.gitignore

# SSL/TLS certificates 
server.cert
server.key

# Node package manager files 
.npm/
.yarn/
yarn.lock
package-lock.json

# Windows system files 
Thumbs.db
desktop.ini
